body {
    font-family: "Nunito", sans-serif;
}

/* Introdução */
.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    font-weight: bold;
}

/* Sobre */
.sobre {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    border-top: 2px solid #2C70CF;
    border-bottom: 2px solid #2C70CF;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h2 {
    font-size: 3em;
    margin-bottom: .5em;
    font-weight: bold;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7C7C7C;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/* Produtos */
.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h2 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
    font-weight: bold;
}

.produtos-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item img {
    width: 100%;
}

.produtos h3 {
    font-size: 3em;
    color: #A4A4A4;
    background: #F7F7F7;
    padding: 60px 20px;
}

.purple {
    border-top: 8px solid #AE81FF
}

.pink {
    border-top: 8px solid #F9265E
}

.blue {
    border-top: 8px solid #66D9EB
}

/* Preco */
.preco {
    background-color: #F7F7F7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item {
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h3 {
    font-size: 3em;
    color: #A4A4A4;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    font-size: 3em;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    line-height: 1;
    font-style: italic;
    color: #7C7C7C;
}

.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #2C70CF;
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 800px) {
    .preco {
        padding: 60px 10px;
    }

    .preco .preco-item:nth-child(3) {
        order: -2;
    }

    .preco .preco-item:nth-child(2) {
        order: -1;
    }
}

/* Qualidade */
.qualidade {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h3 {
    font-size: 2.25em;
    color: #A4A4A4;
    margin-bottom: 20px;
    font-weight: bold;
}

.qualidade-item h3::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h3::before {
    background: #AE81FF;
}

.qualidade-item:nth-of-type(3n+2) h3::before {
    background: #F9265E;
}

.qualidade-item:nth-of-type(3n+3) h3::before {
    background: #66D9EB;
}

.qualidade-item p {
    font-size: 1.25em;
    line-height: 1.4;
    color: #7C7C7C;
}

/* Newsletter */
.newsletter {
    background: #F7F7F7;
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 240px;
    margin: 0 10px;
}

.newsletter-info h2 {
    font-size: 3em;
    font-weight: bold;
    color: #A4A4A4;
}

.newsletter-info p {
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7C7C7C;
    margin-bottom: 10px;
}

.newsletter-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 3 1 260px;
    font-size: 1.25em;
    color: #7C7C7C;
    font-style: italic;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    border: 4px solid #2C70FF;
    background: transparent;
    padding: 15px 10px;
    margin: 0;
    border-radius: 0px;
}

.newsletter-form button {
    flex: 1 1 260px;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background: #2C70FF;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
}

@media (max-width: 600px) {
    .newsletter-form button {
        font-size: 1.5em;
    }
}
